<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,169}</string>
                <key>spriteSourceSize</key>
                <string>{190,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{337,1},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_cup-images-bonus_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,169}</string>
                <key>spriteSourceSize</key>
                <string>{190,169}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_cup-images-daily_cup_table_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,67}</string>
                <key>spriteSourceSize</key>
                <string>{142,67}</string>
                <key>textureRect</key>
                <string>{{193,1},{142,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daily_cup_table_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,67}</string>
                <key>spriteSourceSize</key>
                <string>{142,67}</string>
                <key>textureRect</key>
                <string>{{193,1},{142,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{193,70},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,172},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_passed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{305,119},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{184,182},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_full_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{459,1},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{113,172},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{113,247},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{113,247},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{417,119},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>daily_cup-810bc07269.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>daily_cup-810bc07269.png</string>
        </dict>
    </dict>
</plist>
