<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gem_clouds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,81}</string>
                <key>spriteSourceSize</key>
                <string>{76,81}</string>
                <key>textureRect</key>
                <string>{{297,465},{76,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_shovel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,88}</string>
                <key>spriteSourceSize</key>
                <string>{71,88}</string>
                <key>textureRect</key>
                <string>{{534,582},{71,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem_shovel_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,101}</string>
                <key>spriteSourceSize</key>
                <string>{86,101}</string>
                <key>textureRect</key>
                <string>{{777,282},{86,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,455},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{113,455},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_passed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,788},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,170}</string>
                <key>spriteSourceSize</key>
                <string>{197,170}</string>
                <key>textureRect</key>
                <string>{{578,112},{197,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{607,651},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_full_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{989,123},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{225,498},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{103,386},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{777,188},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shovel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{789,66},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure__key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,219}</string>
                <key>spriteSourceSize</key>
                <string>{97,219}</string>
                <key>textureRect</key>
                <string>{{764,385},{97,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,72}</string>
                <key>spriteSourceSize</key>
                <string>{184,72}</string>
                <key>textureRect</key>
                <string>{{578,381},{184,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{983,319},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_key_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,55}</string>
                <key>spriteSourceSize</key>
                <string>{62,55}</string>
                <key>textureRect</key>
                <string>{{163,386},{62,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,173}</string>
                <key>spriteSourceSize</key>
                <string>{177,173}</string>
                <key>textureRect</key>
                <string>{{1,613},{177,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_lock_1_closed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{48,62}</string>
                <key>textureRect</key>
                <string>{{53,386},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_lock_1_opened.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,54}</string>
                <key>textureRect</key>
                <string>{{227,386},{68,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_lock_2_closed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,66}</string>
                <key>textureRect</key>
                <string>{{1,386},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_lock_2_opened.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,53}</string>
                <key>spriteSourceSize</key>
                <string>{70,53}</string>
                <key>textureRect</key>
                <string>{{225,443},{70,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_place.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,63}</string>
                <key>spriteSourceSize</key>
                <string>{292,63}</string>
                <key>textureRect</key>
                <string>{{578,1},{292,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_place_sh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,101}</string>
                <key>spriteSourceSize</key>
                <string>{84,101}</string>
                <key>textureRect</key>
                <string>{{71,900},{84,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,44}</string>
                <key>spriteSourceSize</key>
                <string>{209,44}</string>
                <key>textureRect</key>
                <string>{{578,66},{209,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_up_closed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,95}</string>
                <key>spriteSourceSize</key>
                <string>{196,95}</string>
                <key>textureRect</key>
                <string>{{578,284},{196,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_up_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,100}</string>
                <key>spriteSourceSize</key>
                <string>{182,100}</string>
                <key>textureRect</key>
                <string>{{113,788},{182,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasure_wive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,103}</string>
                <key>spriteSourceSize</key>
                <string>{68,103}</string>
                <key>textureRect</key>
                <string>{{1,900},{68,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-images-shovel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{789,66},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-back_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,120}</string>
                <key>spriteSourceSize</key>
                <string>{144,120}</string>
                <key>textureRect</key>
                <string>{{872,1},{144,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-back_map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,383}</string>
                <key>spriteSourceSize</key>
                <string>{575,383}</string>
                <key>textureRect</key>
                <string>{{1,1},{575,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{297,386},{79,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{871,123},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{871,221},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{865,319},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{863,417},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{863,515},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{157,890},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{275,890},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{393,386},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{180,613},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{297,711},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{298,613},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{375,484},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{393,809},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{415,711},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{416,613},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{393,907},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{493,484},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{611,455},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{611,553},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasuresearch-treasure_search-up_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{729,606},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>treasuresearch-8bb5003260.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>treasuresearch-8bb5003260.png</string>
        </dict>
    </dict>
</plist>
