<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lantern_window-lantern-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,137}</string>
                <key>spriteSourceSize</key>
                <string>{44,137}</string>
                <key>textureRect</key>
                <string>{{451,663},{44,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_window-lantern-bg_picture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,660}</string>
                <key>spriteSourceSize</key>
                <string>{620,660}</string>
                <key>textureRect</key>
                <string>{{1,1},{620,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_window-lantern-bonus_bg_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{223,223}</string>
                <key>textureRect</key>
                <string>{{1,663},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lantern_window-lantern-bonus_bg_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{223,223}</string>
                <key>textureRect</key>
                <string>{{226,663},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lantern_window-772420f3e2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>lantern_window-772420f3e2.png</string>
        </dict>
    </dict>
</plist>
