<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,208}</string>
                <key>spriteSourceSize</key>
                <string>{182,208}</string>
                <key>textureRect</key>
                <string>{{243,1},{182,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{427,61},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{427,1},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_eyebrow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,21}</string>
                <key>spriteSourceSize</key>
                <string>{38,21}</string>
                <key>textureRect</key>
                <string>{{473,148},{38,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_eyebrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,19}</string>
                <key>spriteSourceSize</key>
                <string>{44,19}</string>
                <key>textureRect</key>
                <string>{{427,148},{44,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{468,232},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{481,61},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{468,264},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{468,207},{34,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_pupil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{489,1},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_pupil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{489,1},{12,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,52}</string>
                <key>spriteSourceSize</key>
                <string>{163,52}</string>
                <key>textureRect</key>
                <string>{{1,243},{163,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,64}</string>
                <key>spriteSourceSize</key>
                <string>{39,64}</string>
                <key>textureRect</key>
                <string>{{427,205},{39,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_wing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{427,169},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_wing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{469,171},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{298,396},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,183}</string>
                <key>spriteSourceSize</key>
                <string>{176,183}</string>
                <key>textureRect</key>
                <string>{{243,211},{176,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,297},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaf_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{427,112},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvl1_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,85}</string>
                <key>spriteSourceSize</key>
                <string>{95,85}</string>
                <key>textureRect</key>
                <string>{{298,518},{95,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvl2_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,142}</string>
                <key>spriteSourceSize</key>
                <string>{141,142}</string>
                <key>textureRect</key>
                <string>{{1,449},{141,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvl3_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,141}</string>
                <key>spriteSourceSize</key>
                <string>{143,141}</string>
                <key>textureRect</key>
                <string>{{153,396},{143,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit-images-bird_x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{298,396},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit-images-bird_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit-images-grass_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,183}</string>
                <key>spriteSourceSize</key>
                <string>{176,183}</string>
                <key>textureRect</key>
                <string>{{243,211},{176,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit-images-grass_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,297},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rabbit-17bd73c6c7.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>rabbit-17bd73c6c7.png</string>
        </dict>
    </dict>
</plist>
