<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{138,56}</string>
                <key>textureRect</key>
                <string>{{363,94},{138,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_mobile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,188}</string>
                <key>spriteSourceSize</key>
                <string>{90,188}</string>
                <key>textureRect</key>
                <string>{{1,205},{90,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,202}</string>
                <key>spriteSourceSize</key>
                <string>{174,202}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,395},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{113,395},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_passed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{185,191},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,67}</string>
                <key>spriteSourceSize</key>
                <string>{70,67}</string>
                <key>textureRect</key>
                <string>{{256,303},{70,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobile_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,188}</string>
                <key>spriteSourceSize</key>
                <string>{90,188}</string>
                <key>textureRect</key>
                <string>{{93,205},{90,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobile_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,188}</string>
                <key>spriteSourceSize</key>
                <string>{90,188}</string>
                <key>textureRect</key>
                <string>{{177,1},{90,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,105}</string>
                <key>spriteSourceSize</key>
                <string>{87,105}</string>
                <key>textureRect</key>
                <string>{{297,188},{87,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{328,1},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_full_blik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{386,152},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{185,303},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{439,152},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{439,152},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raffle_window-raffle-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{439,58},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raffle_window-raffle-barbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,55}</string>
                <key>spriteSourceSize</key>
                <string>{68,55}</string>
                <key>textureRect</key>
                <string>{{439,1},{68,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raffle_window-raffle-icon_balance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{112,106}</string>
                <key>textureRect</key>
                <string>{{325,372},{112,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{269,94},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,108}</string>
                <key>spriteSourceSize</key>
                <string>{98,108}</string>
                <key>textureRect</key>
                <string>{{225,378},{98,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raffle_window-e9315cb822.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>raffle_window-e9315cb822.png</string>
        </dict>
    </dict>
</plist>
