<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>premium_red_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{310,236},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_arm_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{475,44},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,233}</string>
                <key>spriteSourceSize</key>
                <string>{163,233}</string>
                <key>textureRect</key>
                <string>{{310,1},{163,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_chups.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,91}</string>
                <key>spriteSourceSize</key>
                <string>{70,91}</string>
                <key>textureRect</key>
                <string>{{409,458},{70,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{120,124}</string>
                <key>textureRect</key>
                <string>{{128,385},{120,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{36,26}</string>
                <key>textureRect</key>
                <string>{{475,1},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,13}</string>
                <key>spriteSourceSize</key>
                <string>{36,13}</string>
                <key>textureRect</key>
                <string>{{475,29},{36,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{452,342},{52,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,17}</string>
                <key>spriteSourceSize</key>
                <string>{47,17}</string>
                <key>textureRect</key>
                <string>{{169,511},{47,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_eyebrow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{40,22}</string>
                <key>textureRect</key>
                <string>{{169,530},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,50}</string>
                <key>spriteSourceSize</key>
                <string>{61,50}</string>
                <key>textureRect</key>
                <string>{{106,511},{61,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,114}</string>
                <key>spriteSourceSize</key>
                <string>{139,114}</string>
                <key>textureRect</key>
                <string>{{146,269},{139,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,102}</string>
                <key>spriteSourceSize</key>
                <string>{81,102}</string>
                <key>textureRect</key>
                <string>{{250,454},{81,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_hand_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,104}</string>
                <key>spriteSourceSize</key>
                <string>{54,104}</string>
                <key>textureRect</key>
                <string>{{452,236},{54,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_life_unlim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,61}</string>
                <key>spriteSourceSize</key>
                <string>{95,61}</string>
                <key>textureRect</key>
                <string>{{411,395},{95,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{164,123},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{409,551},{68,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_ochk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,77}</string>
                <key>spriteSourceSize</key>
                <string>{161,77}</string>
                <key>textureRect</key>
                <string>{{1,123},{161,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_priz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{1,318},{125,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_pupil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{475,81},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,74}</string>
                <key>spriteSourceSize</key>
                <string>{122,74}</string>
                <key>textureRect</key>
                <string>{{287,378},{122,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_shub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,78}</string>
                <key>spriteSourceSize</key>
                <string>{103,78}</string>
                <key>textureRect</key>
                <string>{{1,433},{103,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,13}</string>
                <key>spriteSourceSize</key>
                <string>{40,13}</string>
                <key>textureRect</key>
                <string>{{169,554},{40,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>premiumr_soda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,111}</string>
                <key>spriteSourceSize</key>
                <string>{74,111}</string>
                <key>textureRect</key>
                <string>{{333,454},{74,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-finishepisode-speech_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,120}</string>
                <key>spriteSourceSize</key>
                <string>{307,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subscription_window-tile_shop-shop_coins_3800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,114}</string>
                <key>spriteSourceSize</key>
                <string>{143,114}</string>
                <key>textureRect</key>
                <string>{{1,202},{143,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>subscription_window-ccc7de4fdc.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>subscription_window-ccc7de4fdc.png</string>
        </dict>
    </dict>
</plist>
