<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blanket-images-tartlet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{222,1},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blanket-images-tartlet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{222,220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_body_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,201}</string>
                <key>spriteSourceSize</key>
                <string>{202,201}</string>
                <key>textureRect</key>
                <string>{{1,222},{202,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,155}</string>
                <key>spriteSourceSize</key>
                <string>{156,155}</string>
                <key>textureRect</key>
                <string>{{1,425},{156,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_dark_flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,79}</string>
                <key>spriteSourceSize</key>
                <string>{89,79}</string>
                <key>textureRect</key>
                <string>{{1,582},{89,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,219}</string>
                <key>spriteSourceSize</key>
                <string>{219,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_white_flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,35}</string>
                <key>spriteSourceSize</key>
                <string>{55,35}</string>
                <key>textureRect</key>
                <string>{{441,165},{55,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_wafer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,146}</string>
                <key>spriteSourceSize</key>
                <string>{138,146}</string>
                <key>textureRect</key>
                <string>{{159,439},{138,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,34}</string>
                <key>textureRect</key>
                <string>{{441,63},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sq2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{299,439},{72,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sq3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{441,272},{37,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sq4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{56,64}</string>
                <key>textureRect</key>
                <string>{{441,99},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sq5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{441,1},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sq6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,68}</string>
                <key>textureRect</key>
                <string>{{441,202},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sq7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{373,439},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tartlet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{222,1},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tartlet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{222,220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blanket-6f5bceafdf.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>blanket-6f5bceafdf.png</string>
        </dict>
    </dict>
</plist>
