<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mission_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{344,837},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scien_finger1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,10}</string>
                <key>spriteSourceSize</key>
                <string>{19,10}</string>
                <key>textureRect</key>
                <string>{{490,367},{19,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scien_finger2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{490,379},{15,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{71,955},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,305}</string>
                <key>spriteSourceSize</key>
                <string>{330,305}</string>
                <key>textureRect</key>
                <string>{{1,105},{330,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,69}</string>
                <key>textureRect</key>
                <string>{{289,954},{104,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,70}</string>
                <key>spriteSourceSize</key>
                <string>{97,70}</string>
                <key>textureRect</key>
                <string>{{279,732},{97,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_fl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,89}</string>
                <key>spriteSourceSize</key>
                <string>{124,89}</string>
                <key>textureRect</key>
                <string>{{379,54},{124,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_glasses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,70}</string>
                <key>spriteSourceSize</key>
                <string>{279,70}</string>
                <key>textureRect</key>
                <string>{{1,412},{279,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,113}</string>
                <key>spriteSourceSize</key>
                <string>{227,113}</string>
                <key>textureRect</key>
                <string>{{282,523},{227,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,51}</string>
                <key>spriteSourceSize</key>
                <string>{132,51}</string>
                <key>textureRect</key>
                <string>{{379,1},{132,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,59}</string>
                <key>spriteSourceSize</key>
                <string>{166,59}</string>
                <key>textureRect</key>
                <string>{{333,202},{166,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,46}</string>
                <key>spriteSourceSize</key>
                <string>{101,46}</string>
                <key>textureRect</key>
                <string>{{395,732},{101,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,33}</string>
                <key>spriteSourceSize</key>
                <string>{99,33}</string>
                <key>textureRect</key>
                <string>{{395,780},{99,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,50}</string>
                <key>spriteSourceSize</key>
                <string>{104,50}</string>
                <key>textureRect</key>
                <string>{{238,902},{104,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,51}</string>
                <key>textureRect</key>
                <string>{{377,145},{134,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,78}</string>
                <key>spriteSourceSize</key>
                <string>{24,78}</string>
                <key>textureRect</key>
                <string>{{256,484},{24,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{72,23}</string>
                <key>textureRect</key>
                <string>{{420,837},{72,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,77}</string>
                <key>spriteSourceSize</key>
                <string>{25,77}</string>
                <key>textureRect</key>
                <string>{{252,732},{25,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,20}</string>
                <key>spriteSourceSize</key>
                <string>{77,20}</string>
                <key>textureRect</key>
                <string>{{395,815},{77,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,102}</string>
                <key>spriteSourceSize</key>
                <string>{163,102}</string>
                <key>textureRect</key>
                <string>{{333,263},{163,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,24}</string>
                <key>spriteSourceSize</key>
                <string>{63,24}</string>
                <key>textureRect</key>
                <string>{{420,862},{63,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,20}</string>
                <key>textureRect</key>
                <string>{{282,469},{39,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,43}</string>
                <key>textureRect</key>
                <string>{{420,888},{60,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,8}</string>
                <key>spriteSourceSize</key>
                <string>{47,8}</string>
                <key>textureRect</key>
                <string>{{282,412},{47,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,23}</string>
                <key>spriteSourceSize</key>
                <string>{35,23}</string>
                <key>textureRect</key>
                <string>{{282,491},{35,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_pupel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{185,902},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,154}</string>
                <key>spriteSourceSize</key>
                <string>{155,154}</string>
                <key>textureRect</key>
                <string>{{333,367},{155,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_honey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{333,105},{42,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{252,815},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{1,955},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tour_red_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,48}</string>
                <key>spriteSourceSize</key>
                <string>{39,48}</string>
                <key>textureRect</key>
                <string>{{333,152},{39,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-cloud_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,55}</string>
                <key>spriteSourceSize</key>
                <string>{151,55}</string>
                <key>textureRect</key>
                <string>{{136,955},{151,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,219}</string>
                <key>spriteSourceSize</key>
                <string>{253,219}</string>
                <key>textureRect</key>
                <string>{{1,484},{253,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-mission_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{344,837},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-toolbar_cloud_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,92}</string>
                <key>spriteSourceSize</key>
                <string>{247,92}</string>
                <key>textureRect</key>
                <string>{{256,638},{247,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-valentines_window_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,102}</string>
                <key>spriteSourceSize</key>
                <string>{376,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{376,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-window_decor_cloud_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,90}</string>
                <key>spriteSourceSize</key>
                <string>{232,90}</string>
                <key>textureRect</key>
                <string>{{1,705},{232,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-window_decor_cloud_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,103}</string>
                <key>spriteSourceSize</key>
                <string>{65,103}</string>
                <key>textureRect</key>
                <string>{{185,797},{65,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>valentines-window_decor_hearts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,156}</string>
                <key>spriteSourceSize</key>
                <string>{182,156}</string>
                <key>textureRect</key>
                <string>{{1,797},{182,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowtour_arbuzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{282,422},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>valentines-ab92dbf2d5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>valentines-ab92dbf2d5.png</string>
        </dict>
    </dict>
</plist>
