<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>favorite_sale-bonus_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,328}</string>
                <key>spriteSourceSize</key>
                <string>{446,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{446,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>favorite_sale-bonus_icon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,338}</string>
                <key>spriteSourceSize</key>
                <string>{337,338}</string>
                <key>textureRect</key>
                <string>{{1,331},{337,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>favorite_sale-only_now.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,157}</string>
                <key>spriteSourceSize</key>
                <string>{153,157}</string>
                <key>textureRect</key>
                <string>{{340,331},{153,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>favorite_sale-plus_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,157}</string>
                <key>spriteSourceSize</key>
                <string>{149,157}</string>
                <key>textureRect</key>
                <string>{{340,490},{149,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_element_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{449,1},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{340,649},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_object_search_box_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{449,52},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>favorite_sale-84d55f47d2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>favorite_sale-84d55f47d2.png</string>
        </dict>
    </dict>
</plist>
