<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialogue_1_bmp_lips_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,21}</string>
                <key>textureRect</key>
                <string>{{975,273},{47,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,59}</string>
                <key>spriteSourceSize</key>
                <string>{41,59}</string>
                <key>textureRect</key>
                <string>{{703,300},{41,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_body_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,235}</string>
                <key>spriteSourceSize</key>
                <string>{186,235}</string>
                <key>textureRect</key>
                <string>{{831,296},{186,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_eye1_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,58}</string>
                <key>spriteSourceSize</key>
                <string>{143,58}</string>
                <key>textureRect</key>
                <string>{{852,1},{143,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_eye2_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{678,966},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_eyebrow1_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,19}</string>
                <key>spriteSourceSize</key>
                <string>{45,19}</string>
                <key>textureRect</key>
                <string>{{703,51},{45,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_eyebrow2_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,20}</string>
                <key>spriteSourceSize</key>
                <string>{47,20}</string>
                <key>textureRect</key>
                <string>{{624,273},{47,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{751,316},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{491,533},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,44}</string>
                <key>spriteSourceSize</key>
                <string>{41,44}</string>
                <key>textureRect</key>
                <string>{{448,533},{41,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,288}</string>
                <key>spriteSourceSize</key>
                <string>{221,288}</string>
                <key>textureRect</key>
                <string>{{224,594},{221,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,267}</string>
                <key>spriteSourceSize</key>
                <string>{114,267}</string>
                <key>textureRect</key>
                <string>{{332,312},{114,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,305}</string>
                <key>spriteSourceSize</key>
                <string>{258,305}</string>
                <key>textureRect</key>
                <string>{{1,287},{258,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{624,42},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{261,287},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{527,533},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_hand1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{997,1},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_hand1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,14}</string>
                <key>spriteSourceSize</key>
                <string>{29,14}</string>
                <key>textureRect</key>
                <string>{{649,562},{29,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,48}</string>
                <key>spriteSourceSize</key>
                <string>{20,48}</string>
                <key>textureRect</key>
                <string>{{569,974},{20,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,31}</string>
                <key>spriteSourceSize</key>
                <string>{54,31}</string>
                <key>textureRect</key>
                <string>{{363,989},{54,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{703,228},{43,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_green_pupil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{985,69},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_hand1_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,45}</string>
                <key>spriteSourceSize</key>
                <string>{85,45}</string>
                <key>textureRect</key>
                <string>{{591,974},{85,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{46,36}</string>
                <key>textureRect</key>
                <string>{{625,844},{46,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_hand2_1_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{975,210},{48,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,284}</string>
                <key>spriteSourceSize</key>
                <string>{330,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_ebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{50,28}</string>
                <key>textureRect</key>
                <string>{{419,989},{50,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{363,884},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,89}</string>
                <key>spriteSourceSize</key>
                <string>{71,89}</string>
                <key>textureRect</key>
                <string>{{561,883},{71,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_hand1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,66}</string>
                <key>spriteSourceSize</key>
                <string>{63,66}</string>
                <key>textureRect</key>
                <string>{{261,452},{63,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_hand1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{649,327},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,69}</string>
                <key>spriteSourceSize</key>
                <string>{127,69}</string>
                <key>textureRect</key>
                <string>{{852,132},{127,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,121}</string>
                <key>spriteSourceSize</key>
                <string>{218,121}</string>
                <key>textureRect</key>
                <string>{{143,895},{218,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_lips1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,23}</string>
                <key>spriteSourceSize</key>
                <string>{46,23}</string>
                <key>textureRect</key>
                <string>{{703,1},{46,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_lips5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{598,533},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_purple_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{796,966},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_red_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,299}</string>
                <key>spriteSourceSize</key>
                <string>{192,299}</string>
                <key>textureRect</key>
                <string>{{30,594},{192,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_red_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{624,116},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_red_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,23}</string>
                <key>spriteSourceSize</key>
                <string>{47,23}</string>
                <key>textureRect</key>
                <string>{{702,26},{47,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_red_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,69}</string>
                <key>spriteSourceSize</key>
                <string>{131,69}</string>
                <key>textureRect</key>
                <string>{{852,61},{131,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_red_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,37}</string>
                <key>spriteSourceSize</key>
                <string>{80,37}</string>
                <key>textureRect</key>
                <string>{{447,844},{80,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_red_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{649,533},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,81}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{624,190},{62,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,309}</string>
                <key>spriteSourceSize</key>
                <string>{289,309}</string>
                <key>textureRect</key>
                <string>{{333,1},{289,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,77}</string>
                <key>spriteSourceSize</key>
                <string>{78,77}</string>
                <key>textureRect</key>
                <string>{{751,237},{78,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{697,158},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,49}</string>
                <key>spriteSourceSize</key>
                <string>{96,49}</string>
                <key>textureRect</key>
                <string>{{471,974},{96,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_hand1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,36}</string>
                <key>spriteSourceSize</key>
                <string>{53,36}</string>
                <key>textureRect</key>
                <string>{{570,844},{53,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_hand1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,53}</string>
                <key>spriteSourceSize</key>
                <string>{37,53}</string>
                <key>textureRect</key>
                <string>{{985,111},{37,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,79}</string>
                <key>spriteSourceSize</key>
                <string>{121,79}</string>
                <key>textureRect</key>
                <string>{{852,203},{121,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_lips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{261,420},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_lips2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{688,272},{56,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogue_white_pupil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{529,844},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues-char_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,62}</string>
                <key>spriteSourceSize</key>
                <string>{193,62}</string>
                <key>textureRect</key>
                <string>{{448,312},{193,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogues-tutorial_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,308}</string>
                <key>spriteSourceSize</key>
                <string>{27,308}</string>
                <key>textureRect</key>
                <string>{{1,594},{27,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_body_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,82}</string>
                <key>spriteSourceSize</key>
                <string>{213,82}</string>
                <key>textureRect</key>
                <string>{{634,882},{213,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_choco1_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{751,155},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_choco2_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,67}</string>
                <key>spriteSourceSize</key>
                <string>{51,67}</string>
                <key>textureRect</key>
                <string>{{698,89},{51,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_eye1_down_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,39}</string>
                <key>spriteSourceSize</key>
                <string>{76,39}</string>
                <key>textureRect</key>
                <string>{{624,1},{76,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_eye1_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{624,42},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_eye2_down_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,35}</string>
                <key>spriteSourceSize</key>
                <string>{76,35}</string>
                <key>textureRect</key>
                <string>{{673,844},{76,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_eye2_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{624,42},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_hand1_1_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,44}</string>
                <key>spriteSourceSize</key>
                <string>{24,44}</string>
                <key>textureRect</key>
                <string>{{997,1},{24,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_hand1_2_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,14}</string>
                <key>spriteSourceSize</key>
                <string>{29,14}</string>
                <key>textureRect</key>
                <string>{{649,562},{29,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_hand1_3_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{751,372},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_hand1_4_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{737,966},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_hand2_1_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{563,533},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_hand2_2_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,14}</string>
                <key>spriteSourceSize</key>
                <string>{29,14}</string>
                <key>textureRect</key>
                <string>{{649,562},{29,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_hand2_3_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,106}</string>
                <key>spriteSourceSize</key>
                <string>{140,106}</string>
                <key>textureRect</key>
                <string>{{1,904},{140,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_head1_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,71}</string>
                <key>spriteSourceSize</key>
                <string>{88,71}</string>
                <key>textureRect</key>
                <string>{{751,1},{88,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_head_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,261}</string>
                <key>spriteSourceSize</key>
                <string>{254,261}</string>
                <key>textureRect</key>
                <string>{{447,581},{254,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,79}</string>
                <key>spriteSourceSize</key>
                <string>{86,79}</string>
                <key>textureRect</key>
                <string>{{751,74},{86,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_lose_heart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,72}</string>
                <key>spriteSourceSize</key>
                <string>{55,72}</string>
                <key>textureRect</key>
                <string>{{261,520},{55,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_lose_heart2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{68,60}</string>
                <key>textureRect</key>
                <string>{{261,358},{68,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_mouth1_1_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,25}</string>
                <key>spriteSourceSize</key>
                <string>{51,25}</string>
                <key>textureRect</key>
                <string>{{649,300},{51,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_mouth1_2_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,14}</string>
                <key>spriteSourceSize</key>
                <string>{45,14}</string>
                <key>textureRect</key>
                <string>{{703,212},{45,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_mouth2_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,15}</string>
                <key>spriteSourceSize</key>
                <string>{45,15}</string>
                <key>textureRect</key>
                <string>{{703,72},{45,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_pupil1_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{981,166},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_pupil2_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{703,228},{43,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_shine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{997,47},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,89}</string>
                <key>spriteSourceSize</key>
                <string>{91,89}</string>
                <key>textureRect</key>
                <string>{{468,883},{91,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialogues-c8c9cadf0b.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>dialogues-c8c9cadf0b.png</string>
        </dict>
    </dict>
</plist>
