<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down_muf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,91}</string>
                <key>spriteSourceSize</key>
                <string>{139,91}</string>
                <key>textureRect</key>
                <string>{{1,121},{139,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duck_muf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{147,1},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muf_toy_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{213,66},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muf_toy_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{213,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muf_toy_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{147,75},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muf_toy_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{213,35},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin-images-muffin_cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{147,1},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin_cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{147,1},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muffin_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,113}</string>
                <key>spriteSourceSize</key>
                <string>{110,113}</string>
                <key>textureRect</key>
                <string>{{142,121},{110,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puz_muf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,121}</string>
                <key>spriteSourceSize</key>
                <string>{123,121}</string>
                <key>textureRect</key>
                <string>{{1,214},{123,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_muf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,118}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>muffin-8d6b6a0f23.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>muffin-8d6b6a0f23.png</string>
        </dict>
    </dict>
</plist>
