<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cake_boom_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{1,123},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_boom_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{1,233},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_boom_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{1,343},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_boom_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{103,123},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_boom_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{123,1},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_boom_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{103,233},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_rose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,32}</string>
                <key>textureRect</key>
                <string>{{95,453},{47,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,40}</string>
                <key>spriteSourceSize</key>
                <string>{92,40}</string>
                <key>textureRect</key>
                <string>{{1,453},{92,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-cake_rose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,32}</string>
                <key>textureRect</key>
                <string>{{95,453},{47,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{103,343},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{144,417},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{205,111},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{225,1},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{330,1},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffle-images-truffles_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{205,185},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{103,343},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{144,417},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{205,111},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{225,1},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{330,1},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truffles_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{205,185},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>truffle-d8dacb594d.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>truffle-d8dacb594d.png</string>
        </dict>
    </dict>
</plist>
