<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fridge_back2_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,125}</string>
                <key>spriteSourceSize</key>
                <string>{17,125}</string>
                <key>textureRect</key>
                <string>{{435,1},{17,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fridge_back_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,236}</string>
                <key>spriteSourceSize</key>
                <string>{196,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fridge_door1_1_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,33}</string>
                <key>spriteSourceSize</key>
                <string>{24,33}</string>
                <key>textureRect</key>
                <string>{{135,405},{24,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fridge_door1_2_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,24}</string>
                <key>textureRect</key>
                <string>{{168,471},{48,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fridge_door1_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,164}</string>
                <key>spriteSourceSize</key>
                <string>{116,164}</string>
                <key>textureRect</key>
                <string>{{120,239},{116,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fridge_door2_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,160}</string>
                <key>spriteSourceSize</key>
                <string>{105,160}</string>
                <key>textureRect</key>
                <string>{{313,123},{105,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fridge_down_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,189}</string>
                <key>spriteSourceSize</key>
                <string>{117,189}</string>
                <key>textureRect</key>
                <string>{{1,239},{117,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fridge_front_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,162}</string>
                <key>spriteSourceSize</key>
                <string>{112,162}</string>
                <key>textureRect</key>
                <string>{{199,1},{112,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse-images-mouse_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{313,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mouse_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{313,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_body_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,59}</string>
                <key>spriteSourceSize</key>
                <string>{69,59}</string>
                <key>textureRect</key>
                <string>{{1,430},{69,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_eye1_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,11}</string>
                <key>spriteSourceSize</key>
                <string>{13,11}</string>
                <key>textureRect</key>
                <string>{{33,491},{13,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_eye2_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{48,491},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_eye3_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{81,501},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_hand1_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,19}</string>
                <key>spriteSourceSize</key>
                <string>{30,19}</string>
                <key>textureRect</key>
                <string>{{1,491},{30,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_hand2_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,29}</string>
                <key>spriteSourceSize</key>
                <string>{36,29}</string>
                <key>textureRect</key>
                <string>{{135,440},{36,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_head_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{72,430},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_leg1_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{161,405},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_leg2_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,28}</string>
                <key>textureRect</key>
                <string>{{135,471},{31,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_mouth1_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,8}</string>
                <key>spriteSourceSize</key>
                <string>{18,8}</string>
                <key>textureRect</key>
                <string>{{61,501},{18,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_mouth2_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,8}</string>
                <key>spriteSourceSize</key>
                <string>{24,8}</string>
                <key>textureRect</key>
                <string>{{61,491},{24,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>penguin_mouth3_mouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,5}</string>
                <key>spriteSourceSize</key>
                <string>{20,5}</string>
                <key>textureRect</key>
                <string>{{33,504},{20,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mouse-5eaacc47aa.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>mouse-5eaacc47aa.png</string>
        </dict>
    </dict>
</plist>
