<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>easter-toolbar_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,112}</string>
                <key>spriteSourceSize</key>
                <string>{225,112}</string>
                <key>textureRect</key>
                <string>{{1,384},{225,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>easter-toolbar_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,88}</string>
                <key>spriteSourceSize</key>
                <string>{194,88}</string>
                <key>textureRect</key>
                <string>{{406,512},{194,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>easter-tournament_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{602,512},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{379,412},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{197,586},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{379,396},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_hand11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,25}</string>
                <key>spriteSourceSize</key>
                <string>{14,25}</string>
                <key>textureRect</key>
                <string>{{1009,349},{14,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,10}</string>
                <key>spriteSourceSize</key>
                <string>{27,10}</string>
                <key>textureRect</key>
                <string>{{379,384},{27,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_hand22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{379,448},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,11}</string>
                <key>spriteSourceSize</key>
                <string>{21,11}</string>
                <key>textureRect</key>
                <string>{{379,435},{21,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccienist_arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{749,540},{54,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sccien_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,71}</string>
                <key>spriteSourceSize</key>
                <string>{59,71}</string>
                <key>textureRect</key>
                <string>{{325,623},{59,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scienist_arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,58}</string>
                <key>spriteSourceSize</key>
                <string>{86,58}</string>
                <key>textureRect</key>
                <string>{{102,693},{86,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scienist_egg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,119}</string>
                <key>spriteSourceSize</key>
                <string>{99,119}</string>
                <key>textureRect</key>
                <string>{{1,693},{99,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{684,452},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,381}</string>
                <key>spriteSourceSize</key>
                <string>{412,381}</string>
                <key>textureRect</key>
                <string>{{1,1},{412,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,98}</string>
                <key>spriteSourceSize</key>
                <string>{149,98}</string>
                <key>textureRect</key>
                <string>{{228,384},{149,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,100}</string>
                <key>spriteSourceSize</key>
                <string>{139,100}</string>
                <key>textureRect</key>
                <string>{{228,484},{139,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_glasses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,152}</string>
                <key>spriteSourceSize</key>
                <string>{391,152}</string>
                <key>textureRect</key>
                <string>{{415,1},{391,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,133}</string>
                <key>spriteSourceSize</key>
                <string>{267,133}</string>
                <key>textureRect</key>
                <string>{{415,377},{267,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,143}</string>
                <key>spriteSourceSize</key>
                <string>{378,143}</string>
                <key>textureRect</key>
                <string>{{415,155},{378,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,143}</string>
                <key>spriteSourceSize</key>
                <string>{201,143}</string>
                <key>textureRect</key>
                <string>{{808,1},{201,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,75}</string>
                <key>spriteSourceSize</key>
                <string>{344,75}</string>
                <key>textureRect</key>
                <string>{{415,300},{344,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,74}</string>
                <key>spriteSourceSize</key>
                <string>{50,74}</string>
                <key>textureRect</key>
                <string>{{488,602},{50,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,35}</string>
                <key>spriteSourceSize</key>
                <string>{78,35}</string>
                <key>textureRect</key>
                <string>{{325,586},{78,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{759,403},{40,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,37}</string>
                <key>spriteSourceSize</key>
                <string>{81,37}</string>
                <key>textureRect</key>
                <string>{{405,602},{81,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,24}</string>
                <key>spriteSourceSize</key>
                <string>{63,24}</string>
                <key>textureRect</key>
                <string>{{684,517},{63,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,20}</string>
                <key>textureRect</key>
                <string>{{369,484},{39,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,43}</string>
                <key>textureRect</key>
                <string>{{684,543},{60,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,23}</string>
                <key>spriteSourceSize</key>
                <string>{35,23}</string>
                <key>textureRect</key>
                <string>{{369,506},{35,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_ppupel2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{749,484},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_pupel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{684,377},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,193}</string>
                <key>spriteSourceSize</key>
                <string>{194,193}</string>
                <key>textureRect</key>
                <string>{{1,498},{194,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_honey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{44,49}</string>
                <key>textureRect</key>
                <string>{{761,300},{44,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{808,146},{200,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{807,349},{200,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tour_red_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{761,351},{43,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowtour_arbuzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{540,602},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>easter-d83f3af54b.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>easter-d83f3af54b.png</string>
        </dict>
    </dict>
</plist>
