<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_coins_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{959,326},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_coins_light_sparkles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{985,548},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-buttons-small_green_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,71}</string>
                <key>spriteSourceSize</key>
                <string>{180,71}</string>
                <key>textureRect</key>
                <string>{{346,400},{180,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-buttons-small_green_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,71}</string>
                <key>spriteSourceSize</key>
                <string>{180,71}</string>
                <key>textureRect</key>
                <string>{{346,473},{180,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-epic_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,246}</string>
                <key>spriteSourceSize</key>
                <string>{335,246}</string>
                <key>textureRect</key>
                <string>{{366,1},{335,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-honey_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,224}</string>
                <key>spriteSourceSize</key>
                <string>{289,224}</string>
                <key>textureRect</key>
                <string>{{703,1},{289,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-jam_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,158}</string>
                <key>spriteSourceSize</key>
                <string>{254,158}</string>
                <key>textureRect</key>
                <string>{{703,227},{254,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{23,44}</string>
                <key>textureRect</key>
                <string>{{1000,410},{23,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,44}</string>
                <key>spriteSourceSize</key>
                <string>{19,44}</string>
                <key>textureRect</key>
                <string>{{1,837},{19,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{994,224},{25,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,44}</string>
                <key>spriteSourceSize</key>
                <string>{27,44}</string>
                <key>textureRect</key>
                <string>{{994,44},{27,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,44}</string>
                <key>spriteSourceSize</key>
                <string>{27,44}</string>
                <key>textureRect</key>
                <string>{{994,90},{27,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,44}</string>
                <key>spriteSourceSize</key>
                <string>{27,44}</string>
                <key>textureRect</key>
                <string>{{994,136},{27,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{528,489},{25,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{528,443},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{23,44}</string>
                <key>textureRect</key>
                <string>{{1000,456},{23,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-level-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{23,44}</string>
                <key>textureRect</key>
                <string>{{1000,502},{23,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-life_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,185}</string>
                <key>spriteSourceSize</key>
                <string>{198,185}</string>
                <key>textureRect</key>
                <string>{{1,292},{198,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-life_friends.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,133}</string>
                <key>spriteSourceSize</key>
                <string>{119,133}</string>
                <key>textureRect</key>
                <string>{{123,879},{119,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-life_infinity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,149}</string>
                <key>spriteSourceSize</key>
                <string>{202,149}</string>
                <key>textureRect</key>
                <string>{{361,249},{202,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-lottery_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,82}</string>
                <key>spriteSourceSize</key>
                <string>{130,82}</string>
                <key>textureRect</key>
                <string>{{540,731},{130,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-lottery_ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,82}</string>
                <key>spriteSourceSize</key>
                <string>{130,82}</string>
                <key>textureRect</key>
                <string>{{672,768},{130,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-ok_lottery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,82}</string>
                <key>spriteSourceSize</key>
                <string>{130,82}</string>
                <key>textureRect</key>
                <string>{{530,815},{130,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-ok_lottery_10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,84}</string>
                <key>spriteSourceSize</key>
                <string>{132,84}</string>
                <key>textureRect</key>
                <string>{{565,249},{132,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-lottery-vk_lottery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{469,578},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-menubar-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,108}</string>
                <key>spriteSourceSize</key>
                <string>{69,108}</string>
                <key>textureRect</key>
                <string>{{469,656},{69,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-more_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,98}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{195,492},{140,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{565,335},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-cell_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{959,367},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-color.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{868,409},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-color_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{201,292},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{560,467},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{853,541},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-gold_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{201,334},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-heroes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{337,546},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-heroes_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{811,636},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-life_unlim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{195,592},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-life_unlim_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{811,678},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{547,599},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-line_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{811,720},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-moves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{327,678},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-moves_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{811,762},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-multicolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{679,636},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-multicolor_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{959,270},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-reward_icons-stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{853,673},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{87,837},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,40}</string>
                <key>textureRect</key>
                <string>{{187,837},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{112,837},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{985,630},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{985,672},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{985,714},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{137,837},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{994,182},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{211,837},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{21,40}</string>
                <key>textureRect</key>
                <string>{{234,837},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{162,837},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_best_seller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,111}</string>
                <key>spriteSourceSize</key>
                <string>{120,111}</string>
                <key>textureRect</key>
                <string>{{1,899},{120,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_bg_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,107}</string>
                <key>spriteSourceSize</key>
                <string>{120,107}</string>
                <key>textureRect</key>
                <string>{{1,724},{120,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_1800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{254,89},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_25000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,133}</string>
                <key>spriteSourceSize</key>
                <string>{169,133}</string>
                <key>textureRect</key>
                <string>{{697,387},{169,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_3800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,114}</string>
                <key>spriteSourceSize</key>
                <string>{143,114}</string>
                <key>textureRect</key>
                <string>{{201,376},{143,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,77}</string>
                <key>spriteSourceSize</key>
                <string>{88,77}</string>
                <key>textureRect</key>
                <string>{{254,273},{88,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_coins_6000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,112}</string>
                <key>spriteSourceSize</key>
                <string>{159,112}</string>
                <key>textureRect</key>
                <string>{{692,522},{159,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_inner_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,78}</string>
                <key>spriteSourceSize</key>
                <string>{105,78}</string>
                <key>textureRect</key>
                <string>{{254,193},{105,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-shop_purple_ribbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,86}</string>
                <key>spriteSourceSize</key>
                <string>{363,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{363,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-socialicons-ok_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{459,766},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-sweet_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,138}</string>
                <key>spriteSourceSize</key>
                <string>{192,138}</string>
                <key>textureRect</key>
                <string>{{1,479},{192,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-tasty_pack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,201}</string>
                <key>spriteSourceSize</key>
                <string>{251,201}</string>
                <key>textureRect</key>
                <string>{{1,89},{251,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,41}</string>
                <key>spriteSourceSize</key>
                <string>{20,41}</string>
                <key>textureRect</key>
                <string>{{22,837},{20,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,41}</string>
                <key>spriteSourceSize</key>
                <string>{19,41}</string>
                <key>textureRect</key>
                <string>{{66,837},{19,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{985,756},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,41}</string>
                <key>textureRect</key>
                <string>{{528,535},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{994,1},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{985,587},{24,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,41}</string>
                <key>spriteSourceSize</key>
                <string>{22,41}</string>
                <key>textureRect</key>
                <string>{{1001,367},{22,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{528,400},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,41}</string>
                <key>spriteSourceSize</key>
                <string>{20,41}</string>
                <key>textureRect</key>
                <string>{{44,837},{20,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{985,799},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-colon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,41}</string>
                <key>spriteSourceSize</key>
                <string>{14,41}</string>
                <key>textureRect</key>
                <string>{{344,273},{14,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile_shop-timer-x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{959,227},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tile_shop-4828ebb325.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>tile_shop-4828ebb325.png</string>
        </dict>
    </dict>
</plist>
