<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>memorial-mission_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,648},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memorial-toolbar_decor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,156}</string>
                <key>spriteSourceSize</key>
                <string>{180,156}</string>
                <key>textureRect</key>
                <string>{{1,490},{180,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memorial-window_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,108}</string>
                <key>spriteSourceSize</key>
                <string>{207,108}</string>
                <key>textureRect</key>
                <string>{{1,380},{207,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memorial-window_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,140}</string>
                <key>spriteSourceSize</key>
                <string>{122,140}</string>
                <key>textureRect</key>
                <string>{{273,578},{122,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mission_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,83}</string>
                <key>spriteSourceSize</key>
                <string>{88,83}</string>
                <key>textureRect</key>
                <string>{{183,514},{88,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{275,452},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{26,14}</string>
                <key>textureRect</key>
                <string>{{282,308},{26,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_hand11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,25}</string>
                <key>spriteSourceSize</key>
                <string>{14,25}</string>
                <key>textureRect</key>
                <string>{{490,89},{14,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,10}</string>
                <key>spriteSourceSize</key>
                <string>{27,10}</string>
                <key>textureRect</key>
                <string>{{282,324},{27,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_hand22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{490,75},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccien_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,11}</string>
                <key>spriteSourceSize</key>
                <string>{21,11}</string>
                <key>textureRect</key>
                <string>{{490,62},{21,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scccienist_arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{45,36}</string>
                <key>textureRect</key>
                <string>{{123,748},{45,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sccien_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,89}</string>
                <key>spriteSourceSize</key>
                <string>{92,89}</string>
                <key>textureRect</key>
                <string>{{176,680},{92,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{210,449},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,305}</string>
                <key>spriteSourceSize</key>
                <string>{330,305}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,69}</string>
                <key>textureRect</key>
                <string>{{403,452},{104,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,70}</string>
                <key>spriteSourceSize</key>
                <string>{97,70}</string>
                <key>textureRect</key>
                <string>{{397,658},{97,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_glasses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,70}</string>
                <key>spriteSourceSize</key>
                <string>{279,70}</string>
                <key>textureRect</key>
                <string>{{1,308},{279,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,113}</string>
                <key>spriteSourceSize</key>
                <string>{227,113}</string>
                <key>textureRect</key>
                <string>{{282,337},{227,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,51}</string>
                <key>spriteSourceSize</key>
                <string>{132,51}</string>
                <key>textureRect</key>
                <string>{{333,271},{132,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,59}</string>
                <key>spriteSourceSize</key>
                <string>{166,59}</string>
                <key>textureRect</key>
                <string>{{333,1},{166,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,46}</string>
                <key>spriteSourceSize</key>
                <string>{101,46}</string>
                <key>textureRect</key>
                <string>{{403,575},{101,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,33}</string>
                <key>spriteSourceSize</key>
                <string>{99,33}</string>
                <key>textureRect</key>
                <string>{{397,623},{99,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,50}</string>
                <key>spriteSourceSize</key>
                <string>{104,50}</string>
                <key>textureRect</key>
                <string>{{403,523},{104,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_haer4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,51}</string>
                <key>textureRect</key>
                <string>{{333,218},{134,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,78}</string>
                <key>spriteSourceSize</key>
                <string>{33,78}</string>
                <key>textureRect</key>
                <string>{{170,771},{33,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{72,23}</string>
                <key>textureRect</key>
                <string>{{1,792},{72,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,80}</string>
                <key>spriteSourceSize</key>
                <string>{33,80}</string>
                <key>textureRect</key>
                <string>{{270,746},{33,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_hand2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,20}</string>
                <key>spriteSourceSize</key>
                <string>{77,20}</string>
                <key>textureRect</key>
                <string>{{1,770},{77,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,24}</string>
                <key>spriteSourceSize</key>
                <string>{63,24}</string>
                <key>textureRect</key>
                <string>{{270,720},{63,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,20}</string>
                <key>textureRect</key>
                <string>{{467,315},{39,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,43}</string>
                <key>textureRect</key>
                <string>{{335,720},{60,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,8}</string>
                <key>spriteSourceSize</key>
                <string>{47,8}</string>
                <key>textureRect</key>
                <string>{{311,324},{47,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_mouth_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,23}</string>
                <key>spriteSourceSize</key>
                <string>{35,23}</string>
                <key>textureRect</key>
                <string>{{80,770},{35,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sciensman_pupel1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{123,648},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,154}</string>
                <key>spriteSourceSize</key>
                <string>{155,154}</string>
                <key>textureRect</key>
                <string>{{333,62},{155,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_honey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{469,218},{42,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{183,599},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scientist_light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,67}</string>
                <key>textureRect</key>
                <string>{{210,380},{68,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tour_red_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,48}</string>
                <key>spriteSourceSize</key>
                <string>{39,48}</string>
                <key>textureRect</key>
                <string>{{469,265},{39,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellowtour_arbuzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{123,701},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>memorial-f355b66657.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>memorial-f355b66657.png</string>
        </dict>
    </dict>
</plist>
