<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clown_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{1,123},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_box_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{310,72},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_box_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{377,72},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_box_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{444,83},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_box_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{175,191},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_box_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{175,250},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_box_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{176,345},{65,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap2_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,25}</string>
                <key>spriteSourceSize</key>
                <string>{63,25}</string>
                <key>textureRect</key>
                <string>{{272,431},{63,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap2_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,25}</string>
                <key>spriteSourceSize</key>
                <string>{64,25}</string>
                <key>textureRect</key>
                <string>{{69,480},{64,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap2_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,25}</string>
                <key>spriteSourceSize</key>
                <string>{64,25}</string>
                <key>textureRect</key>
                <string>{{176,404},{64,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap2_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,25}</string>
                <key>spriteSourceSize</key>
                <string>{64,25}</string>
                <key>textureRect</key>
                <string>{{242,404},{64,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap2_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,25}</string>
                <key>spriteSourceSize</key>
                <string>{64,25}</string>
                <key>textureRect</key>
                <string>{{243,345},{64,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap2_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,25}</string>
                <key>spriteSourceSize</key>
                <string>{64,25}</string>
                <key>textureRect</key>
                <string>{{243,372},{64,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{225,309},{47,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{210,72},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{223,431},{47,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{260,72},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{175,309},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_cap_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,34}</string>
                <key>spriteSourceSize</key>
                <string>{47,34}</string>
                <key>textureRect</key>
                <string>{{223,467},{47,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{1,242},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_handle_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{88,459},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_handle_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{110,459},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_handle_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{112,432},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_handle_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{474,1},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_handle_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{474,22},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_handle_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{474,43},{20,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_head_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,69}</string>
                <key>textureRect</key>
                <string>{{88,361},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_head_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,69}</string>
                <key>textureRect</key>
                <string>{{135,432},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_head_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,69}</string>
                <key>textureRect</key>
                <string>{{175,120},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_head_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,69}</string>
                <key>textureRect</key>
                <string>{{210,1},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_head_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,69}</string>
                <key>textureRect</key>
                <string>{{298,1},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_head_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,69}</string>
                <key>textureRect</key>
                <string>{{386,1},{86,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_pupil_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,6}</string>
                <key>spriteSourceSize</key>
                <string>{5,6}</string>
                <key>textureRect</key>
                <string>{{135,503},{5,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_pupil_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{5,5}</string>
                <key>textureRect</key>
                <string>{{142,503},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{1,361},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{88,123},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,27}</string>
                <key>spriteSourceSize</key>
                <string>{66,27}</string>
                <key>textureRect</key>
                <string>{{1,480},{66,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_spring_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{88,432},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_spring_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{474,64},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_target.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{123,1},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clown_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{88,242},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-clown_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{1,123},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-clown_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{1,242},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-clown_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{1,361},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-clown_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{88,123},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-clown_target.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-clown_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{123,1},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorcookieman-images-clown_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,117}</string>
                <key>spriteSourceSize</key>
                <string>{85,117}</string>
                <key>textureRect</key>
                <string>{{88,242},{85,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>colorcookieman-7504692471.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>colorcookieman-7504692471.png</string>
        </dict>
    </dict>
</plist>
