<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_front_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,115}</string>
                <key>textureRect</key>
                <string>{{364,19},{116,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_label_bos.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{234,362},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag-images-bag_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag-images-bag_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{122,362},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag-images-bag_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{1,128},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag-images-bag_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{1,255},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag-images-bag_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{1,382},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag-images-bag_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{122,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag-images-bag_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{243,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{122,362},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{1,128},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{1,255},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{1,382},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{122,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bag_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{243,1},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,115}</string>
                <key>textureRect</key>
                <string>{{122,128},{116,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_front_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,115}</string>
                <key>textureRect</key>
                <string>{{240,128},{116,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_label_bos.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{293,362},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,16}</string>
                <key>spriteSourceSize</key>
                <string>{119,16}</string>
                <key>textureRect</key>
                <string>{{364,1},{119,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>label_bos.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{352,362},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_front_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,115}</string>
                <key>textureRect</key>
                <string>{{358,136},{116,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_label_bos.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{358,276},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rope_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{234,446},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,21}</string>
                <key>spriteSourceSize</key>
                <string>{114,21}</string>
                <key>textureRect</key>
                <string>{{358,253},{114,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vertical_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,117}</string>
                <key>spriteSourceSize</key>
                <string>{14,117}</string>
                <key>textureRect</key>
                <string>{{485,1},{14,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_front_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,115}</string>
                <key>textureRect</key>
                <string>{{122,245},{116,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w_label_bos.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{417,276},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_front_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,115}</string>
                <key>textureRect</key>
                <string>{{240,245},{116,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_label_bos.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{411,360},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bag-f30c58b1a4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>bag-f30c58b1a4.png</string>
        </dict>
    </dict>
</plist>
