<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color_container-images-color_container_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{134,1},{129,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>color_container_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,130}</string>
                <key>spriteSourceSize</key>
                <string>{129,130}</string>
                <key>textureRect</key>
                <string>{{134,1},{129,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_cube1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{203,403},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_cube2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{250,403},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_cube3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{215,450},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,110}</string>
                <key>spriteSourceSize</key>
                <string>{93,110}</string>
                <key>textureRect</key>
                <string>{{1,356},{93,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_jug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{1,109},{123,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_full_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,119}</string>
                <key>spriteSourceSize</key>
                <string>{107,119}</string>
                <key>textureRect</key>
                <string>{{265,1},{107,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_full_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,119}</string>
                <key>spriteSourceSize</key>
                <string>{107,119}</string>
                <key>textureRect</key>
                <string>{{374,1},{107,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_full_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,119}</string>
                <key>spriteSourceSize</key>
                <string>{107,119}</string>
                <key>textureRect</key>
                <string>{{265,122},{107,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_full_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,119}</string>
                <key>spriteSourceSize</key>
                <string>{107,119}</string>
                <key>textureRect</key>
                <string>{{126,133},{107,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_full_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{74,83}</string>
                <key>textureRect</key>
                <string>{{96,356},{74,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_full_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,119}</string>
                <key>spriteSourceSize</key>
                <string>{107,119}</string>
                <key>textureRect</key>
                <string>{{1,235},{107,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_half_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,59}</string>
                <key>spriteSourceSize</key>
                <string>{107,59}</string>
                <key>textureRect</key>
                <string>{{374,122},{107,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_half_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,59}</string>
                <key>spriteSourceSize</key>
                <string>{107,59}</string>
                <key>textureRect</key>
                <string>{{374,183},{107,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_half_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,59}</string>
                <key>spriteSourceSize</key>
                <string>{107,59}</string>
                <key>textureRect</key>
                <string>{{235,243},{107,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_half_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,59}</string>
                <key>spriteSourceSize</key>
                <string>{107,59}</string>
                <key>textureRect</key>
                <string>{{110,254},{107,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_half_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,72}</string>
                <key>spriteSourceSize</key>
                <string>{131,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_juice_half_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,59}</string>
                <key>spriteSourceSize</key>
                <string>{107,59}</string>
                <key>textureRect</key>
                <string>{{172,342},{107,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_up_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,25}</string>
                <key>spriteSourceSize</key>
                <string>{105,25}</string>
                <key>textureRect</key>
                <string>{{96,441},{105,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_up_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,25}</string>
                <key>spriteSourceSize</key>
                <string>{105,25}</string>
                <key>textureRect</key>
                <string>{{110,315},{105,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_up_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,26}</string>
                <key>spriteSourceSize</key>
                <string>{105,26}</string>
                <key>textureRect</key>
                <string>{{1,468},{105,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_up_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,25}</string>
                <key>spriteSourceSize</key>
                <string>{105,25}</string>
                <key>textureRect</key>
                <string>{{108,468},{105,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_up_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,32}</string>
                <key>spriteSourceSize</key>
                <string>{129,32}</string>
                <key>textureRect</key>
                <string>{{1,75},{129,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jug_up_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,25}</string>
                <key>spriteSourceSize</key>
                <string>{105,25}</string>
                <key>textureRect</key>
                <string>{{217,315},{105,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>color_container-84a6cc5685.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>color_container-84a6cc5685.png</string>
        </dict>
    </dict>
</plist>
