<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banka_down_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{108,87}</string>
                <key>textureRect</key>
                <string>{{139,187},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banka_up_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,79}</string>
                <key>spriteSourceSize</key>
                <string>{73,79}</string>
                <key>textureRect</key>
                <string>{{157,1},{73,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{1,417},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker-images-crab_maker_stable0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,295},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker-images-crab_maker_stable1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,354},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker-images-crab_maker_stable2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker_stable0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,295},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker_stable1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,354},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker_stable2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab_maker_stable3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{1,157},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye2_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,30}</string>
                <key>spriteSourceSize</key>
                <string>{51,30}</string>
                <key>textureRect</key>
                <string>{{194,276},{51,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{194,308},{47,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>krishka_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,74}</string>
                <key>spriteSourceSize</key>
                <string>{53,74}</string>
                <key>textureRect</key>
                <string>{{139,276},{53,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>krushka_open_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,44}</string>
                <key>spriteSourceSize</key>
                <string>{70,44}</string>
                <key>textureRect</key>
                <string>{{157,82},{70,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nose_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{221,143},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,13}</string>
                <key>spriteSourceSize</key>
                <string>{31,13}</string>
                <key>textureRect</key>
                <string>{{221,128},{31,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ten_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{62,49}</string>
                <key>textureRect</key>
                <string>{{157,128},{62,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing1_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{232,22},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wing2_serg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{232,1},{22,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crab_maker-62b5e108ae.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>crab_maker-62b5e108ae.png</string>
        </dict>
    </dict>
</plist>
