<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>editor-admin-regular_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,50}</string>
                <key>spriteSourceSize</key>
                <string>{183,50}</string>
                <key>textureRect</key>
                <string>{{241,1},{183,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,59}</string>
                <key>spriteSourceSize</key>
                <string>{140,59}</string>
                <key>textureRect</key>
                <string>{{198,365},{140,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-bagrandom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,124}</string>
                <key>spriteSourceSize</key>
                <string>{119,124}</string>
                <key>textureRect</key>
                <string>{{1,878},{119,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-bombrandom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,390},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-color_bomb_random_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{241,53},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-color_bomb_random_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,86},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-color_bomb_random_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{216,209},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-colorcookieman_random.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{1,242},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{198,426},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-fireworkrandom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{368,445},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-lollipoprandom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{359,567},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-rabbit_tile_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,512},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-rabbit_tile_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,548},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-rabbit_tile_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,634},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-rabbit_tile_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,670},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-rabbit_tile_cover_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{372,311},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-random.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,756},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-small_petard_random.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,159}</string>
                <key>spriteSourceSize</key>
                <string>{87,159}</string>
                <key>textureRect</key>
                <string>{{397,150},{87,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-cells-wafflerandom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{122,878},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,37}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{157,157},{57,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,57}</string>
                <key>spriteSourceSize</key>
                <string>{37,57}</string>
                <key>textureRect</key>
                <string>{{320,483},{37,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,57}</string>
                <key>spriteSourceSize</key>
                <string>{37,57}</string>
                <key>textureRect</key>
                <string>{{320,542},{37,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,37}</string>
                <key>spriteSourceSize</key>
                <string>{57,37}</string>
                <key>textureRect</key>
                <string>{{157,196},{57,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{157,235},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{149,286},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_cards_button_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{149,337},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_cards_button_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{149,386},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{157,86},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,6}</string>
                <key>spriteSourceSize</key>
                <string>{30,6}</string>
                <key>textureRect</key>
                <string>{{340,365},{30,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,55}</string>
                <key>spriteSourceSize</key>
                <string>{46,55}</string>
                <key>textureRect</key>
                <string>{{320,426},{46,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{123,435},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-editor_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{244,792},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-heroes-trufflerandom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{397,76},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-undo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,73}</string>
                <key>spriteSourceSize</key>
                <string>{79,73}</string>
                <key>textureRect</key>
                <string>{{426,1},{79,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editor-windows-graphics_switch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,83}</string>
                <key>spriteSourceSize</key>
                <string>{238,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>editor-a50b056695.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>editor-a50b056695.png</string>
        </dict>
    </dict>
</plist>
