<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cookieman-images-cookieman_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookieman_stable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{123,72},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{99,110}</string>
                <key>textureRect</key>
                <string>{{1,123},{99,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_cheese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,108}</string>
                <key>spriteSourceSize</key>
                <string>{22,108}</string>
                <key>textureRect</key>
                <string>{{102,123},{22,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{165,32},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{123,32},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_eyeup1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,16}</string>
                <key>spriteSourceSize</key>
                <string>{24,16}</string>
                <key>textureRect</key>
                <string>{{35,235},{24,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_eyeup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,19}</string>
                <key>spriteSourceSize</key>
                <string>{32,19}</string>
                <key>textureRect</key>
                <string>{{1,235},{32,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,6}</string>
                <key>spriteSourceSize</key>
                <string>{14,6}</string>
                <key>textureRect</key>
                <string>{{97,235},{14,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_pupil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{80,235},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_pupil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{61,235},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,29}</string>
                <key>spriteSourceSize</key>
                <string>{110,29}</string>
                <key>textureRect</key>
                <string>{{126,1},{110,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cookieman-c9e64edef3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>cookieman-c9e64edef3.png</string>
        </dict>
    </dict>
</plist>
