<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_maker-white_digits-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{117,156},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,33}</string>
                <key>spriteSourceSize</key>
                <string>{14,33}</string>
                <key>textureRect</key>
                <string>{{234,1},{14,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{98,214},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{63,161},{27,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{84,96},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{70,215},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{125,214},{24,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{84,59},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{114,100},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_maker-white_digits-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,35}</string>
                <key>spriteSourceSize</key>
                <string>{23,35}</string>
                <key>textureRect</key>
                <string>{{92,156},{23,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_bable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{1,161},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_bageye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,9}</string>
                <key>spriteSourceSize</key>
                <string>{55,9}</string>
                <key>textureRect</key>
                <string>{{68,145},{55,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,97}</string>
                <key>spriteSourceSize</key>
                <string>{109,97}</string>
                <key>textureRect</key>
                <string>{{123,1},{109,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1,222},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{1,222},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_eyelids.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,14}</string>
                <key>spriteSourceSize</key>
                <string>{59,14}</string>
                <key>textureRect</key>
                <string>{{88,198},{59,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_hair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,47}</string>
                <key>spriteSourceSize</key>
                <string>{65,47}</string>
                <key>textureRect</key>
                <string>{{1,112},{65,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_hair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,51}</string>
                <key>spriteSourceSize</key>
                <string>{81,51}</string>
                <key>textureRect</key>
                <string>{{1,59},{81,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_hair3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,10}</string>
                <key>spriteSourceSize</key>
                <string>{23,10}</string>
                <key>textureRect</key>
                <string>{{68,133},{23,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,25}</string>
                <key>spriteSourceSize</key>
                <string>{39,25}</string>
                <key>textureRect</key>
                <string>{{29,222},{39,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_pupil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{9,8}</string>
                <key>textureRect</key>
                <string>{{234,36},{9,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_pupil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{9,8}</string>
                <key>textureRect</key>
                <string>{{234,36},{9,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaves_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,15}</string>
                <key>spriteSourceSize</key>
                <string>{23,15}</string>
                <key>textureRect</key>
                <string>{{63,198},{23,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ice_maker-e78eb70513.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>ice_maker-e78eb70513.png</string>
        </dict>
    </dict>
</plist>
