<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moves_cell-images-moves_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,107}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moves_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,107}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moves_cell-6dd8bec6fb.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>textureFileName</key>
            <string>moves_cell-6dd8bec6fb.png</string>
        </dict>
    </dict>
</plist>
