<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cake-images-dart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{389,1},{88,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-dart_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-dart_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{267,1},{120,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cake-images-dart_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,44}</string>
                <key>spriteSourceSize</key>
                <string>{77,44}</string>
                <key>textureRect</key>
                <string>{{389,40},{77,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,37}</string>
                <key>spriteSourceSize</key>
                <string>{88,37}</string>
                <key>textureRect</key>
                <string>{{389,1},{88,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{267,1},{120,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dart_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,44}</string>
                <key>spriteSourceSize</key>
                <string>{77,44}</string>
                <key>textureRect</key>
                <string>{{389,40},{77,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cake-c1b7feae84.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>cake-c1b7feae84.png</string>
        </dict>
    </dict>
</plist>
