<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,45}</string>
                <key>spriteSourceSize</key>
                <string>{79,45}</string>
                <key>textureRect</key>
                <string>{{425,49},{79,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{18,27}</string>
                <key>textureRect</key>
                <string>{{212,326},{18,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{65,475},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,85}</string>
                <key>spriteSourceSize</key>
                <string>{72,85}</string>
                <key>textureRect</key>
                <string>{{225,355},{72,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,69}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{271,442},{75,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,57}</string>
                <key>spriteSourceSize</key>
                <string>{26,57}</string>
                <key>textureRect</key>
                <string>{{310,1},{26,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{224,206},{15,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{395,180},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{315,325},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,45}</string>
                <key>spriteSourceSize</key>
                <string>{81,45}</string>
                <key>textureRect</key>
                <string>{{227,1},{81,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{135,326},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{1,475},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{299,343},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,67}</string>
                <key>spriteSourceSize</key>
                <string>{75,67}</string>
                <key>textureRect</key>
                <string>{{425,212},{75,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,55}</string>
                <key>spriteSourceSize</key>
                <string>{27,55}</string>
                <key>textureRect</key>
                <string>{{304,118},{27,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{377,163},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>body_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,68}</string>
                <key>spriteSourceSize</key>
                <string>{75,68}</string>
                <key>textureRect</key>
                <string>{{227,49},{75,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye_r_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,44}</string>
                <key>spriteSourceSize</key>
                <string>{79,44}</string>
                <key>textureRect</key>
                <string>{{338,71},{79,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,15}</string>
                <key>spriteSourceSize</key>
                <string>{12,15}</string>
                <key>textureRect</key>
                <string>{{409,180},{12,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{243,442},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{76,44}</string>
                <key>textureRect</key>
                <string>{{338,117},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{155,326},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{160,473},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{190,238},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,68}</string>
                <key>spriteSourceSize</key>
                <string>{74,68}</string>
                <key>textureRect</key>
                <string>{{349,1},{74,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,57}</string>
                <key>spriteSourceSize</key>
                <string>{26,57}</string>
                <key>textureRect</key>
                <string>{{298,175},{26,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{241,206},{15,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand_l_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{258,206},{15,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand_r_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{33,475},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,85}</string>
                <key>spriteSourceSize</key>
                <string>{72,85}</string>
                <key>textureRect</key>
                <string>{{224,119},{72,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leg_r_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{174,326},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop-images-lollipop_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{112,116}</string>
                <key>textureRect</key>
                <string>{{1,239},{112,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop-images-lollipop_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{113,357},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop-images-lollipop_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,117}</string>
                <key>spriteSourceSize</key>
                <string>{109,117}</string>
                <key>textureRect</key>
                <string>{{1,120},{109,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop-images-lollipop_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{112,120},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop-images-lollipop_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{115,1},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop-images-lollipop_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{112,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop-images-lollipop_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{1,357},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{112,116}</string>
                <key>textureRect</key>
                <string>{{1,239},{112,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop_goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{113,357},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,117}</string>
                <key>spriteSourceSize</key>
                <string>{109,117}</string>
                <key>textureRect</key>
                <string>{{1,120},{109,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{112,120},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{115,1},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{112,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lollipop_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{110,116}</string>
                <key>textureRect</key>
                <string>{{1,357},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pbody_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,69}</string>
                <key>spriteSourceSize</key>
                <string>{75,69}</string>
                <key>textureRect</key>
                <string>{{348,442},{75,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>peye_r_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{78,44}</string>
                <key>textureRect</key>
                <string>{{425,96},{78,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phand_l_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{275,206},{15,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phand_r_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{96,475},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phead_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,85}</string>
                <key>spriteSourceSize</key>
                <string>{72,85}</string>
                <key>textureRect</key>
                <string>{{264,238},{72,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pleg_r_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{193,326},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppupil_l_hal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{13,15}</string>
                <key>textureRect</key>
                <string>{{395,163},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppupil_r_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{225,442},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ptail_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,57}</string>
                <key>spriteSourceSize</key>
                <string>{26,57}</string>
                <key>textureRect</key>
                <string>{{326,175},{26,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pupil_l_hal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{13,15}</string>
                <key>textureRect</key>
                <string>{{410,163},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pupil_l_hal_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{12,16}</string>
                <key>textureRect</key>
                <string>{{301,325},{12,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pupil_r_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{332,325},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pupil_r_ham_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{355,163},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,32}</string>
                <key>spriteSourceSize</key>
                <string>{79,32}</string>
                <key>textureRect</key>
                <string>{{190,473},{79,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smile_2_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,16}</string>
                <key>spriteSourceSize</key>
                <string>{52,16}</string>
                <key>textureRect</key>
                <string>{{232,326},{52,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smile_ham1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,11}</string>
                <key>spriteSourceSize</key>
                <string>{51,11}</string>
                <key>textureRect</key>
                <string>{{299,429},{51,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tail_ham.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{349,281},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{286,325},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{355,180},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,46}</string>
                <key>spriteSourceSize</key>
                <string>{82,46}</string>
                <key>textureRect</key>
                <string>{{425,1},{82,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{115,326},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{127,473},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,86}</string>
                <key>spriteSourceSize</key>
                <string>{73,86}</string>
                <key>textureRect</key>
                <string>{{115,238},{73,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,68}</string>
                <key>spriteSourceSize</key>
                <string>{75,68}</string>
                <key>textureRect</key>
                <string>{{425,142},{75,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,56}</string>
                <key>spriteSourceSize</key>
                <string>{27,56}</string>
                <key>textureRect</key>
                <string>{{304,60},{27,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,32}</string>
                <key>spriteSourceSize</key>
                <string>{15,32}</string>
                <key>textureRect</key>
                <string>{{338,234},{15,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lollipop-78a1518382.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>lollipop-78a1518382.png</string>
        </dict>
    </dict>
</plist>
