<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firefly_jar-images-nuclear_kernel_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{98,88}</string>
                <key>textureRect</key>
                <string>{{119,362},{98,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nuclear_barrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{116,114}</string>
                <key>textureRect</key>
                <string>{{1,258},{116,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nuclear_barrel_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,102}</string>
                <key>textureRect</key>
                <string>{{119,258},{108,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nuclear_kernel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,61}</string>
                <key>spriteSourceSize</key>
                <string>{45,61}</string>
                <key>textureRect</key>
                <string>{{1,374},{45,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nuclear_kernel_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{98,88}</string>
                <key>textureRect</key>
                <string>{{119,362},{98,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nuclear_kernel_vert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,57}</string>
                <key>spriteSourceSize</key>
                <string>{30,57}</string>
                <key>textureRect</key>
                <string>{{1,452},{30,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nuclear_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,255}</string>
                <key>spriteSourceSize</key>
                <string>{248,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>firefly_jar-43cb40af51.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>firefly_jar-43cb40af51.png</string>
        </dict>
    </dict>
</plist>
